<div class="center jumbotron">
  <h1>Welcome to the Sports Match</h1>
  <h2>
    スポーツマッチへようこそ!
    <a href="https://railstutorial.jp/">さあ、試合相手を募集しよう!</a>
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
   <%= image_tag("sports.jpg", :size => "1100x600") %>